// 主题名称
$theme-name: 'dark';
// 主题背景颜色
$theme-bg-color: #151515;
// active 状态下主题背景颜色
$active-theme-bg-color: #1890ff;
// 默认文字颜色
$font-color: #c9d1d9;
// active 状态下文字颜色
$active-font-color: #ffffff;
// hover 状态下文字颜色
$hover-color: #ffffff;
// 边框颜色
$border-color: #303030;


// 主题名称
$theme-white: 'white';
// 主题背景颜色
$white-bg-color: #ffffff;
//主题背景色
$white-wrapper-color: #F0F0F0;
//// active 状态下主题背景颜色
//$active-theme-bg-color: #1890ff;
// 默认文字颜色
$white-color: #000;
// active 状态下文字颜色
$active-font-color: #409eff;
//// hover 状态下文字颜色
$hover-color: #409eff;
//// 边框颜色
//$border-color: #303030;
